@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  background-color: lightgrey;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -1%;
  margin-bottom: -1%;
}

img {
  max-width: 100%;
}

.welcomePageHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 250%;
}
.profilePageDescriptor {
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
